In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Next_Generation_Simulation__NGSIM__Vehicle_Trajectories_and_Supporting_Data.csv")

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (2,13,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.describe()

,Vehicle_ID,Frame_ID,Global_Time,Local_X,Global_X,Global_Y,v_length,v_Width,v_Class,v_Vel,v_Acc,O_Zone,D_Zone,Int_ID,Section_ID,Direction,Movement
count,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,1.185053e+07,2.481206e+06,2.481206e+06,2.481206e+06,2.481206e+06,2.481206e+06,2.481206e+06
mean,1.272563e+03,5.174503e+03,1.034354e+12,2.794686e+01,5.982983e+06,1.936843e+06,1.569627e+01,6.626444e+00,2.023950e+00,2.325818e+01,7.139650e-02,1.070281e+02,2.066535e+02,5.623104e-01,2.280568e+00,2.994319e+00,1.095966e+00
std,7.792891e+02,2.608943e+03,2.915348e+11,2.495012e+01,1.076391e+06,2.008363e+05,5.611962e+00,8.725600e-01,1.767097e-01,1.574182e+01,4.777451e+00,6.164081e+00,5.856079e+00,1.231587e+00,1.532248e+00,1.025410e+00,3.727930e-01
min,1.000000e+00,1.000000e+00,1.163019e+09,-3.256250e+02,2.230210e+06,1.375533e+06,3.500000e+00,2.000000e+00,1.000000e+00,0.000000e+00,-1.584000e+01,0.000000e+00,2.010000e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,6.330000e+02,2.987000e+03,1.113437e+12,1.453300e+01,6.042757e+06,1.872593e+06,1.380000e+01,5.900000e+00,2.000000e+00,1.000000e+01,-5.200000e-01,1.020000e+02,2.010000e+02,0.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00
50%,1.195000e+03,5.222000e+03,1.118847e+12,2.932300e+01,6.451253e+06,1.873236e+06,1.500000e+01,6.800000e+00,2.000000e+00,2.300000e+01,0.000000e+00,1.080000e+02,2.050000e+02,0.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00
75%,1.824000e+03,7.354000e+03,1.118849e+12,4.332900e+01,6.452048e+06,2.133669e+06,1.600000e+01,7.000000e+00,2.000000e+00,3.500000e+01,7.300000e-01,1.080000e+02,2.080000e+02,0.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00
max,3.366000e+03,1.169100e+04,1.118938e+12,1.608840e+02,6.452741e+06,2.134845e+06,7.770000e+01,8.500000e+00,3.000000e+00,9.530000e+01,1.584000e+01,1.230000e+02,2.230000e+02,5.000000e+00,6.000000e+00,4.000000e+00,3.000000e+00

In [4]:
df.columns

Index(['Vehicle_ID', 'Frame_ID', 'Total_Frames', 'Global_Time', 'Local_X',
       'Local_Y', 'Global_X', 'Global_Y', 'v_length', 'v_Width', 'v_Class',
       'v_Vel', 'v_Acc', 'Lane_ID', 'O_Zone', 'D_Zone', 'Int_ID', 'Section_ID',
       'Direction', 'Movement', 'Preceding', 'Following', 'Space_Headway',
       'Time_Headway', 'Location'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11850526 entries, 0 to 11850525
Data columns (total 25 columns):
Vehicle_ID       int64
Frame_ID         int64
Total_Frames     object
Global_Time      int64
Local_X          float64
Local_Y          object
Global_X         float64
Global_Y         float64
v_length         float64
v_Width          float64
v_Class          int64
v_Vel            float64
v_Acc            float64
Lane_ID          object
O_Zone           float64
D_Zone           float64
Int_ID           float64
Section_ID       float64
Direction        float64
Movement         float64
Preceding        object
Following        object
Space_Headway    object
Time_Headway     object
Location         object
dtypes: float64(13), int64(4), object(8)
memory usage: 2.2+ GB

In [6]:
df

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_length,v_Width,...,D_Zone,Int_ID,Section_ID,Direction,Movement,Preceding,Following,Space_Headway,Time_Headway,Location
0,2,13,437,1118846980200,16.467,35.381,6451137.641,1873344.962,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
1,2,14,437,1118846980300,16.447,39.381,6451140.329,1873342.000,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
2,2,15,437,1118846980400,16.426,43.381,6451143.018,1873339.038,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
3,2,16,437,1118846980500,16.405,47.38,6451145.706,1873336.077,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
4,2,17,437,1118846980600,16.385,51.381,6451148.395,1873333.115,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
5,2,18,437,1118846980700,16.364,55.381,6451151.084,1873330.153,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
6,2,19,437,1118846980800,16.344,59.381,6451153.772,1873327.192,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
7,2,20,437,1118846980900,16.323,63.379,6451156.461,1873324.230,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
8,2,21,437,1118846981000,16.303,67.383,6451159.149,1873321.268,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,us-101
9,2,22,437,1118846981100,16.282,71.398,6451161.838,1873318.307,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
10,2,23,437,1118846981200,16.262,75.401,6451164.546,1873315.323,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
11,2,24,437,1118846981300,16.254,79.349,6451167.199,1873312.382,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
12,2,25,437,1118846981400,16.221,83.233,6451169.802,1873309.533,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
13,2,26,437,1118846981500,16.201,87.043,6451172.358,1873306.719,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
14,2,27,437,1118846981600,16.169,90.829,6451174.961,1873303.870,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
15,2,28,437,1118846981700,16.204,94.683,6451177.613,1873300.929,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
16,2,29,437,1118846981800,16.252,98.611,6451180.342,1873297.924,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
17,2,30,437,1118846981900,16.339,102.56,6451182.980,1873294.961,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
18,2,31,437,1118846982000,16.400,106.385,6451185.537,1873292.122,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
19,2,32,437,1118846982100,16.430,110.079,6451188.021,1873289.408,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
20,2,33,437,1118846982200,16.435,113.628,6451190.424,1873286.817,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
21,2,34,437,1118846982300,16.478,117.118,6451192.757,1873284.247,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
22,2,35,437,1118846982400,16.520,120.6,6451195.109,1873281.656,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
23,2,36,437,1118846982500,16.562,124.096,6451197.462,1873279.065,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
24,2,37,437,1118846982600,16.605,127.597,6451199.814,1873276.473,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
25,2,38,437,1118846982700,16.647,131.099,6451202.167,1873273.882,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
26,2,39,437,1118846982800,16.691,134.595,6451204.519,1873271.290,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
27,2,40,437,1118846982900,16.727,138.081,6451206.879,1873268.700,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
28,2,41,437,1118846983000,16.796,141.578,6451209.191,1873266.113,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
29,2,42,437,1118846983100,16.795,145.131,6451211.610,1873263.514,14.5,4.9,...,NaN,NaN,NaN,NaN,NaN,0,13,0,0,us-101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11850496,3011,10179,"1,203",1113438582800,64.250,"1,535.344",6042682.083,2134598.384,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,"2,364","2,377",105.76,2.84,i-80
11850497,3011,10180,"1,203",1113438582900,64.196,"1,539.167",6042681.420,2134602.108,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850498,3011,10181,"1,203",1113438583000,64.161,"1,543.03",6042680.782,2134605.850,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850499,3011,10182,"1,203",1113438583100,64.138,"1,546.869",6042680.160,2134609.578,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850500,3011,10183,"1,203",1113438583200,64.109,"1,550.659",6042679.532,2134613.305,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850501,3011,10184,"1,203",1113438583300,64.080,"1,554.427",6042678.904,2134617.032,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850502,3011,10185,"1,203",1113438583400,64.051,"1,558.206",6042678.276,2134620.759,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850503,3011,10186,"1,203",1113438583500,64.021,"1,561.986",6042677.648,2134624.486,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850504,3011,10187,"1,203",1113438583600,63.992,"1,565.775",6042677.020,2134628.213,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850505,3011,10188,"1,203",1113438583700,63.960,"1,569.568",6042676.386,2134631.955,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850506,3011,10189,"1,203",1113438583800,63.931,"1,573.332",6042675.758,2134635.682,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850507,3011,10190,"1,203",1113438583900,63.917,"1,577.023",6042675.159,2134639.329,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850508,3011,10191,"1,203",1113438584000,63.925,"1,580.61",6042674.598,2134642.869,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850509,3011,10192,"1,203",1113438584100,63.949,"1,584.109",6042674.067,2134646.328,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850510,3011,10193,"1,203",1113438584200,63.976,"1,587.588",6042673.546,2134649.743,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850511,3011,10194,"1,203",1113438584300,64.001,"1,591.137",6042673.011,2134653.230,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850512,3011,10195,"1,203",1113438584400,64.025,"1,594.787",6042672.456,2134656.840,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850513,3011,10196,"1,203",1113438584500,64.050,"1,598.444",6042671.890,2134660.524,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850514,3011,10197,"1,203",1113438584600,64.051,"1,601.88",6042671.331,2134664.008,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850515,3011,10198,"1,203",1113438584700,64.071,"1,605.148",6042670.830,2134667.254,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850516,3011,10199,"1,203",1113438584800,64.095,"1,608.233",6042670.372,2134670.260,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850517,3011,10200,"1,203",1113438584900,64.137,"1,611.093",6042669.970,2134673.029,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850518,3011,10201,"1,203",1113438585000,64.172,"1,613.92",6042669.581,2134675.668,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850519,3011,10202,"1,203",1113438585100,64.202,"1,617.005",6042669.134,2134678.644,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850520,3011,10203,"1,203",1113438585200,64.225,"1,620.302",6042668.633,2134681.905,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850521,3011,10204,"1,203",1113438585300,64.238,"1,623.826",6042668.081,2134685.430,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850522,3011,10205,"1,203",1113438585400,64.249,"1,627.561",6042667.478,2134689.251,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850523,3011,10206,"1,203",1113438585500,64.277,"1,631.602",6042666.862,2134693.262,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850524,3011,10207,"1,203",1113438585600,64.301,"1,635.103",6042666.331,2134696.722,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80
11850525,3011,10208,"1,203",1113438585700,64.329,"1,639.103",6042665.724,2134700.676,16.3,6.9,...,NaN,NaN,NaN,NaN,NaN,0,"2,377",0,0,i-80

In [7]:
df['Location'].unique()

array(['us-101', 'lankershim', 'peachtree', 'i-80'], dtype=object)

In [8]:
D=df[['Vehicle_ID','Global_Time','Local_X','Local_Y','v_Vel','Location']]

In [9]:
D.head()

   Vehicle_ID    Global_Time  Local_X Local_Y  v_Vel Location
0           2  1118846980200   16.467  35.381   40.0   us-101
1           2  1118846980300   16.447  39.381   40.0   us-101
2           2  1118846980400   16.426  43.381   40.0   us-101
3           2  1118846980500   16.405   47.38   40.0   us-101
4           2  1118846980600   16.385  51.381   40.0   us-101

In [10]:
D1=D.loc[D['Location']=='us-101']
D2=D.loc[D['Location']=='lankershim']
D3=D.loc[D['Location']=='peachtree']
D4=D.loc[D['Location']=='i-80']

In [11]:
print(D1.shape,D2.shape,D3.shape,D4.shape)

(4802933, 6) (1607319, 6) (873887, 6) (4566387, 6)

In [12]:
D2.loc[D2['Vehicle_ID']==5].max()

Vehicle_ID                 5
Global_Time    1118936792500
Local_X               55.511
Local_Y              994.537
v_Vel                  53.92
Location          lankershim
dtype: object

In [13]:
print(D1['Global_Time'].max(),D1['Global_Time'].min())
print(D2['Global_Time'].max(),D2['Global_Time'].min())
print(D3['Global_Time'].max(),D3['Global_Time'].min())
print(D4['Global_Time'].max(),D4['Global_Time'].min())

1118849752200 1118846979700
1118937747000 1118935680200
1164063200 1163019100
1113438734000 1113433135300

In [14]:
D1.loc[D1['Global_Time']==1118846979700]

     Vehicle_ID    Global_Time  Local_X Local_Y  v_Vel Location
788           5  1118846979700   39.788  39.154   40.0   us-101

In [15]:
D2.loc[D2['Global_Time']==1118935680200]

         Vehicle_ID    Global_Time  Local_X Local_Y  v_Vel    Location
3849725          63  1118935680200   44.589  67.404   0.00  lankershim
3850119          64  1118935680200   14.388  35.678  37.97  lankershim

In [16]:
D3.loc[D3['Global_Time']==1163019100]

         Vehicle_ID  Global_Time  Local_X    Local_Y  v_Vel   Location
5457044           2   1163019100   34.735  2,014.005   0.00  peachtree
5457077          11   1163019100   40.898  2,001.335  14.99  peachtree

In [17]:
D4.loc[D4['Global_Time']==1113433135300]

         Vehicle_ID    Global_Time  Local_X Local_Y  v_Vel Location
6341958          36  1113433135300   27.126  75.567  11.08     i-80

In [18]:
D1['Global_Time']=(D1['Global_Time']%1118840000000-6979700)/1000
D2['Global_Time']=(D2['Global_Time']%1118930000000-5680200)/1000
D3['Global_Time']=(D3['Global_Time']%1160000000-3019100)/1000
D4['Global_Time']=(D4['Global_Time']%1113430000000-3135300)/1000

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [19]:
D1['Local_Y'] = D1['Local_Y'].str.replace(",","").astype(float)
D2['Local_Y'] = D2['Local_Y'].str.replace(",","").astype(float)
D3['Local_Y'] = D3['Local_Y'].str.replace(",","").astype(float)
D4['Local_Y'] = D4['Local_Y'].str.replace(",","").astype(float)

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [20]:
D1.tail()

          Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel Location
10429869        2004       2242.1   31.941  2143.631  37.71   us-101
10429870        2004       2242.2   31.899  2147.321  37.56   us-101
10429871        2004       2242.3   31.896  2150.884  37.56   us-101
10429872        2004       2242.4   31.893  2154.884  37.56   us-101
10429873        2004       2242.5   31.889  2158.884  37.56   us-101

In [21]:
D2.tail()

         Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel    Location
5457039        1603       1570.7   42.529  1273.409  19.52  lankershim
5457040        1603       1570.8   44.436  1272.763  20.30  lankershim
5457041        1603       1570.9   46.627  1271.907  20.30  lankershim
5457042        1603       1571.0   48.079  1270.967  20.30  lankershim
5457043        1603       1571.1   50.494  1271.133  20.30  lankershim

In [22]:
D3.tail()

         Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel   Location
6330926        1810        281.7  -38.763  2070.137   4.78  peachtree
6330927        1810        281.8  -39.158  2069.871   4.73  peachtree
6330928        1810        281.9  -39.549  2069.609   4.73  peachtree
6330929        1810        282.0  -39.938  2069.350   4.73  peachtree
6330930        1810        282.1  -40.321  2069.096   4.73  peachtree

In [23]:
D4.tail()

          Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel Location
11850521        3011       5450.0   64.238  1623.826  36.54     i-80
11850522        3011       5450.1   64.249  1627.561  37.76     i-80
11850523        3011       5450.2   64.277  1631.602  37.76     i-80
11850524        3011       5450.3   64.301  1635.103  37.76     i-80
11850525        3011       5450.4   64.329  1639.103  37.76     i-80

In [70]:
print(D1['Local_Y'].max(),D1['Local_Y'].min())
print(D1['Local_X'].max(),D1['Local_X'].min())
print(D1['Global_Time'].max(),D1['Global_Time'].min())
print(D2['Local_Y'].max(),D2['Local_Y'].min())
print(D2['Local_X'].max(),D2['Local_X'].min())
print(D2['Global_Time'].max(),D2['Global_Time'].min())
print(D3['Local_Y'].max(),D3['Local_Y'].min())
print(D3['Local_X'].max(),D3['Local_X'].min())
print(D3['Global_Time'].max(),D3['Global_Time'].min())
print(D4['Local_Y'].max(),D4['Local_Y'].min())
print(D4['Local_X'].max(),D4['Local_X'].min())
print(D4['Global_Time'].max(),D4['Global_Time'].min())

2235.252 0.0
75.682 0.369
2772.5 0.0
1659.48 0.0
116.691 -103.869
2066.8 0.0
2113.03 0.0
160.884 -325.625
1044.1 0.0
1790.771 0.0
96.99600000000001 0.0
5598.7 0.0

In [36]:
print("Give the inputs of road segment(0<=limit<=1000):")
print("Enter start point of road segment(0<=limit<=1000):")
while(True):
    mini= int(input())
    if ((mini>1000) or (mini<0)):
        print("Enter proper value")
        continue
    else:
        break
print("Enter end point of road segment(0<=limit<=1000):")        
while(True):
    maxi= int(input())
    if ((maxi>1000) or (maxi<0)):
        print("Enter proper value")
        continue
    else:
        break

Give the inputs of road segment(0<=limit<=1000):
Enter start point of road segment(0<=limit<=1000):
200
Enter end point of road segment(0<=limit<=1000):
600

In [37]:
print("Enter the point at which the information is required(mini<=limit<=maxi):")
while(True):
    inp= int(input())
    if ((inp<mini) or (inp>maxi)):
        print("Enter proper value (mini<=limit<=maxi)")
        continue
    else:
        break

Enter the point at which the information is required(mini<=limit<=maxi):
400

In [39]:
print("Enter the location whose information is desired('us-101', 'lankershim', 'peachtree', 'i-80'):")
while(True):
    loca=input()
    if(loca=='us-101'):
        Q=1
        break
    elif(loca=='lankershim'):
        Q=2
        break
    elif(loca=='peachtree'):
        Q=3
        break
    elif(loca=='i-80'):
        Q=4
        break
    else:
        print("Enter proper value (0<=limit<=45)")
        continue

Enter the location whose information is desired('us-101', 'lankershim', 'peachtree', 'i-80'):
lankershim

In [40]:
print("Enter the instant at which the information is required(1<=limit<=30):")
if (Q==1):
    while(True):
        time= int(input())
        if ((time>45) or (time<0)):
            print("Enter proper value (0<=limit<=45)")
            continue
        else:
            T_any_min=D1.loc[D1['Global_Time'] <= time*60]
            break
elif (Q==2):
    while(True):
        time= int(input())
        if ((time>34) or (time<0)):
            print("Enter proper value (0<=limit<=34)")
            continue
        else:
            T_any_min=D1.loc[D1['Global_Time'] <= time*60]
            break
elif (Q==3):
    while(True):
        time= int(input())
        if ((time>17) or (time<0)):
            print("Enter proper value (0<=limit<=17)")
            continue
        else:
            T_any_min=D1.loc[D1['Global_Time'] <= time*60]
            break
else:
    while(True):
        time= int(input())
        if ((time>90) or (time<0)):
            print("Enter proper value (0<=limit<=90)")
            continue
        else:
            T_any_min=D1.loc[D1['Global_Time'] <= time*60]
            break

Enter the instant at which the information is required(1<=limit<=30):
15

In [41]:
T_any_min.loc[T_any_min['Global_Time']==601.0]

        Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel Location
653121        1881        601.0    8.876  2114.648  30.00   us-101
655836        1889        601.0   10.335  2067.467  22.93   us-101
660925        1906        601.0    9.630  1972.902  34.64   us-101
664683        1913        601.0    8.153  1877.024  49.25   us-101
669445        1924        601.0   23.373  2026.713  36.57   us-101
669989        1925        601.0   31.945  2048.498  25.00   us-101
670589        1926        601.0    5.760  1745.613  48.01   us-101
671704        1928        601.0   30.686  2090.976  25.90   us-101
672219        1929        601.0   41.953  2103.641  29.70   us-101
672746        1930        601.0   19.288  1936.914  38.47   us-101
673361        1931        601.0    7.789  1658.190  55.22   us-101
674267        1933        601.0   41.969  2056.893  30.05   us-101
674782        1934        601.0   15.852  1832.578  41.37   us-101
675331        1935        601.0   43.525  2004.653  35.00   us-101
675886        1937        601.0    8.993  1525.446  44.98   us-101
676514        1939        601.0   30.666  1942.536  36.50   us-101
677047        1942        601.0   18.262  1777.633  48.35   us-101
678073        1944        601.0   56.562  2064.652  38.70   us-101
678595        1945        601.0    7.612  1460.945  40.01   us-101
679196        1947        601.0   51.921  1915.405  43.82   us-101
679700        1948        601.0   18.590  1712.451  47.83   us-101
680284        1949        601.0   31.435  1832.643  45.03   us-101
680796        1951        601.0   54.611  1969.490  44.81   us-101
681273        1953        601.0   29.843  1736.360  48.67   us-101
681852        1955        601.0    5.892  1336.928  34.08   us-101
682453        1956        601.0   42.300  1887.321  46.95   us-101
682813        1958        601.0   41.355  1793.909  48.30   us-101
683203        1960        601.0   50.737  1807.492  52.16   us-101
683726        1961        601.0   21.528  1579.589  48.35   us-101
684283        1962        601.0   51.418  1682.868  49.99   us-101
...            ...          ...      ...       ...    ...      ...
729946        2092        601.0    8.798   610.494  24.06   us-101
730515        2093        601.0   40.550   448.751  29.09   us-101
731125        2096        601.0   20.606   421.365  24.30   us-101
731639        2098        601.0   53.311   247.157  39.58   us-101
732546        2102        601.0   30.400   391.136  24.99   us-101
733152        2103        601.0   42.397   400.572  33.02   us-101
733660        2104        601.0   50.927   203.485  34.13   us-101
734311        2105        601.0    8.783   544.495  14.99   us-101
734865        2106        601.0   19.872   341.953  32.53   us-101
735372        2107        601.0   53.803   128.421  40.53   us-101
735726        2108        601.0   29.191   273.479  34.61   us-101
736429        2111        601.0    8.781   507.010  14.99   us-101
737000        2112        601.0   41.627   285.615  33.06   us-101
737583        2115        601.0   15.028   235.517  28.34   us-101
738104        2116        601.0   50.970    90.701  34.17   us-101
739103        2118        601.0    7.099   468.087  15.12   us-101
739683        2119        601.0   39.504   226.608  28.76   us-101
740593        2124        601.0   17.159   177.571  32.02   us-101
741653        2126        601.0   30.071   200.591  34.99   us-101
742191        2127        601.0   17.638   126.713  30.82   us-101
743241        2129        601.0   28.513    96.169  37.47   us-101
743914        2130        601.0    7.524   424.130  10.00   us-101
744505        2131        601.0   39.655   156.910  26.20   us-101
745649        2133        601.0   39.186    82.108  25.00   us-101
746296        2134        601.0    5.839   386.143  10.49   us-101
746897        2135        601.0   39.303   123.929  25.37   us-101
749776        2140        601.0    7.165   313.780  25.55   us-101
751024        2144        601.0    6.203   270.535  29.73   us-101
757020        2156        601.0    5.787   172.010  32.34   us-101
760222        2162        601.0    5.131    82.934  20.93   us-101

[141 rows x 6 columns]

In [42]:
T_any_min.tail()

         Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel Location
9608674        3109        718.0   57.416  2102.072  50.40   us-101
9608675        3109        718.1   57.398  2107.121  51.03   us-101
9608676        3109        718.2   57.411  2112.135  51.03   us-101
9608677        3109        718.3   57.407  2117.636  51.03   us-101
9608678        3109        718.4   57.403  2122.635  51.03   us-101

In [43]:
print("No of vehicles in the road:")
print(mini,maxi)
OO=T_any_min.loc[(T_any_min['Local_Y']>=mini)&(T_any_min['Local_Y']<= maxi)&(T_any_min['Global_Time'] == time*60)]
den=OO['Vehicle_ID'].count()
den

No of vehicles in the road:
200 600

45

In [44]:
print("Density(veh/km):")
den*1000/(maxi-mini)

Density(veh/km):

112.5

In [45]:
print("No of vehicles passes the desired point:")
o=len(T_any_min['Vehicle_ID'].loc[(T_any_min['Local_Y']<=maxi)& (T_any_min['Local_Y']>=inp)].unique())
o

No of vehicles passes the desired point:

2154

In [46]:
print("Flow(veh/hr):")
o*60/time

Flow(veh/hr):

8616.0

In [47]:
OO['v_Vel'].mean()

22.965999999999994

In [48]:
s=T_any_min.loc[(T_any_min['Local_Y'] >= (inp-5))& (T_any_min['Local_Y']<=(inp+5))]
speed=[]
for i in range(1,s.shape[0]+1):
    p=s[['Vehicle_ID','v_Vel','Local_Y']][T_any_min['Vehicle_ID'] == i].mean(axis=0)
    speed.append(p)   
speed

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID      2.0000
 v_Vel          45.6400
 Local_Y       400.1045
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID      5.000
 v_Vel          39.280
 Local_Y       399.846
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID      8.000000
 v_Vel          40.550000
 Local_Y       399.536667
 dtype: float64, Vehicle_ID      9.0000
 v_Vel          44.9900
 Local_Y       398.3645
 dtype: float64, Vehicle_ID     10.0000
 v_Vel          47.9550
 Local_Y       399.8725
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     12.0000
 v_Vel          44.9900
 Local_Y       400.3525
 dtype: float64, Vehicle_ID     13.000000
 v_Vel          41.186667
 Local_Y       399.435333
 dtype: float64, Vehicle_ID     14.000000
 v_Vel          36.903333
 Local_Y       399.692333
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     18.000
 v_Vel          39.995
 Local_Y       400.645
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     20.000
 v_Vel          44.990
 Local_Y       399.652
 dtype: float64, Vehicle_ID     21.0000
 v_Vel          39.9650
 Local_Y       400.4175
 dtype: float64, Vehicle_ID     22.000
 v_Vel          44.990
 Local_Y       401.101
 dtype: float64, Vehicle_ID     23.0000
 v_Vel          44.9700
 Local_Y       398.3375
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     25.000
 v_Vel          39.990
 Local_Y       400.855
 dtype: float64, Vehicle_ID     26.0000
 v_Vel          44.9900
 Local_Y       399.1795
 dtype: float64, Vehicle_ID     27.0000
 v_Vel          44.9900
 Local_Y       400.8785
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     31.000000
 v_Vel          39.986667
 Local_Y       400.635333
 dtype: float64, Vehicle_ID     32.0000
 v_Vel          43.5850
 Local_Y       401.3335
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     34.000000
 v_Vel          39.503333
 Local_Y       400.150000
 dtype: float64, Vehicle_ID     35.000000
 v_Vel          35.846667
 Local_Y       399.700000
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     37.000
 v_Vel          50.510
 Local_Y       398.485
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     39.000
 v_Vel          39.985
 Local_Y       400.078
 dtype: float64, Vehicle_ID     40.0000
 v_Vel          42.1450
 Local_Y       400.2425
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     43.000
 v_Vel          48.760
 Local_Y       402.015
 dtype: float64, Vehicle_ID     44.000
 v_Vel          49.740
 Local_Y       398.943
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     47.0000
 v_Vel          40.0800
 Local_Y       399.6605
 dtype: float64, Vehicle_ID     48.000000
 v_Vel          36.806667
 Local_Y       399.071333
 dtype: float64, Vehicle_ID     49.0000
 v_Vel          46.9900
 Local_Y       401.4915
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     51.000
 v_Vel          47.515
 Local_Y       398.934
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     53.0000
 v_Vel          37.3100
 Local_Y       400.4885
 dtype: float64, Vehicle_ID     54.0000
 v_Vel          43.3200
 Local_Y       400.4865
 dtype: float64, Vehicle_ID     55.000
 v_Vel          47.180
 Local_Y       401.764
 dtype: float64, Vehicle_ID     56.000000
 v_Vel          36.466667
 Local_Y       400.356000
 dtype: float64, Vehicle_ID     57.0000
 v_Vel          45.5200
 Local_Y       400.1495
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     59.000
 v_Vel          43.745
 Local_Y       399.610
 dtype: float64, Vehicle_ID     60.000000
 v_Vel          37.506667
 Local_Y       401.220000
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     62.0000
 v_Vel          42.1150
 Local_Y       399.6055
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     64.000
 v_Vel          50.025
 Local_Y       400.139
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     67.000
 v_Vel          44.340
 Local_Y       398.349
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     69.000000
 v_Vel          39.970000
 Local_Y       399.344667
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     71.000000
 v_Vel          38.550000
 Local_Y       400.290667
 dtype: float64, Vehicle_ID     72.000
 v_Vel          42.475
 Local_Y       400.547
 dtype: float64, Vehicle_ID     73.000
 v_Vel          39.990
 Local_Y       399.856
 dtype: float64, Vehicle_ID     74.0000
 v_Vel          34.9900
 Local_Y       399.9015
 dtype: float64, Vehicle_ID     75.000000
 v_Vel          29.996667
 Local_Y       399.566667
 dtype: float64, Vehicle_ID     76.000
 v_Vel          39.970
 Local_Y       400.645
 dtype: float64, Vehicle_ID     77.0000
 v_Vel          44.9200
 Local_Y       398.7915
 dtype: float64, Vehicle_ID     78.0000
 v_Vel          44.2400
 Local_Y       398.7965
 dtype: float64, Vehicle_ID     79.000
 v_Vel          40.015
 Local_Y       400.836
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     82.000000
 v_Vel          29.536667
 Local_Y       400.100667
 dtype: float64, Vehicle_ID     83.000
 v_Vel          42.510
 Local_Y       400.166
 dtype: float64, Vehicle_ID     84.0000
 v_Vel          44.0550
 Local_Y       398.6325
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     90.000000
 v_Vel          37.493333
 Local_Y       400.258000
 dtype: float64, Vehicle_ID     91.000
 v_Vel          34.400
 Local_Y       399.941
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     94.0000
 v_Vel          39.9900
 Local_Y       400.8545
 dtype: float64, Vehicle_ID     95.000000
 v_Vel          40.610000
 Local_Y       400.164333
 dtype: float64, Vehicle_ID     96.0000
 v_Vel          40.8800
 Local_Y       399.6225
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID     99.000000
 v_Vel          35.006667
 Local_Y       401.280000
 dtype: float64, Vehicle_ID    100.000
 v_Vel          34.930
 Local_Y       401.144
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    104.000000
 v_Vel          40.796667
 Local_Y       399.255667
 dtype: float64, Vehicle_ID    105.0000
 v_Vel          39.0650
 Local_Y       399.3295
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    109.000000
 v_Vel          36.100000
 Local_Y       398.694333
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    114.000000
 v_Vel          39.990000
 Local_Y       400.129667
 dtype: float64, Vehicle_ID    115.000
 v_Vel          38.650
 Local_Y       399.543
 dtype: float64, Vehicle_ID    116.000
 v_Vel          39.965
 Local_Y       399.335
 dtype: float64, Vehicle_ID    117.0000
 v_Vel          40.6100
 Local_Y       400.0935
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    119.000000
 v_Vel          32.310000
 Local_Y       399.897667
 dtype: float64, Vehicle_ID    120.0000
 v_Vel          44.3350
 Local_Y       400.1315
 dtype: float64, Vehicle_ID    121.0000
 v_Vel          39.9700
 Local_Y       400.1095
 dtype: float64, Vehicle_ID    122.000000
 v_Vel          34.986667
 Local_Y       400.624667
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    124.000
 v_Vel          36.360
 Local_Y       401.224
 dtype: float64, Vehicle_ID    125.000
 v_Vel          43.855
 Local_Y       399.181
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    127.0000
 v_Vel          44.9700
 Local_Y       400.6375
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    131.000000
 v_Vel          34.976667
 Local_Y       401.156000
 dtype: float64, Vehicle_ID    132.000000
 v_Vel          39.893333
 Local_Y       399.014000
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    134.000
 v_Vel          48.060
 Local_Y       398.279
 dtype: float64, Vehicle_ID    135.000
 v_Vel          39.990
 Local_Y       399.353
 dtype: float64, Vehicle_ID    136.000000
 v_Vel          37.743333
 Local_Y       399.007333
 dtype: float64, Vehicle_ID    137.000
 v_Vel          46.165
 Local_Y       398.096
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    139.000
 v_Vel          39.990
 Local_Y       400.153
 dtype: float64, Vehicle_ID    140.000000
 v_Vel          34.963333
 Local_Y       400.154333
 dtype: float64, Vehicle_ID    141.0000
 v_Vel          41.4700
 Local_Y       399.9905
 dtype: float64, Vehicle_ID    142.000
 v_Vel          34.990
 Local_Y       400.106
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    144.0000
 v_Vel          39.9900
 Local_Y       400.4005
 dtype: float64, Vehicle_ID    145.0000
 v_Vel          39.5150
 Local_Y       399.3865
 dtype: float64, Vehicle_ID    146.0000
 v_Vel          40.6100
 Local_Y       400.8845
 dtype: float64, Vehicle_ID    147.000
 v_Vel          44.970
 Local_Y       400.358
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    150.000000
 v_Vel          34.990000
 Local_Y       400.145333
 dtype: float64, Vehicle_ID    151.000000
 v_Vel          39.883333
 Local_Y       399.827000
 dtype: float64, Vehicle_ID    152.000
 v_Vel          47.125
 Local_Y       401.585
 dtype: float64, Vehicle_ID    153.0000
 v_Vel          49.7550
 Local_Y       401.6355
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    157.0000
 v_Vel          52.6250
 Local_Y       399.3365
 dtype: float64, Vehicle_ID    158.0000
 v_Vel          41.3650
 Local_Y       400.8085
 dtype: float64, Vehicle_ID    159.0000
 v_Vel          39.9900
 Local_Y       400.8735
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    161.00000
 v_Vel          29.98750
 Local_Y       400.05825
 dtype: float64, Vehicle_ID    162.000
 v_Vel          50.180
 Local_Y       397.531
 dtype: float64, Vehicle_ID    163.000
 v_Vel          40.020
 Local_Y       399.618
 dtype: float64, Vehicle_ID    164.000000
 v_Vel          40.333333
 Local_Y       400.354667
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    167.000
 v_Vel          34.990
 Local_Y       400.411
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    169.0000
 v_Vel          44.7650
 Local_Y       398.8455
 dtype: float64, Vehicle_ID    170.000
 v_Vel          37.460
 Local_Y       400.373
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    174.000
 v_Vel          44.100
 Local_Y       399.584
 dtype: float64, Vehicle_ID    175.0000
 v_Vel          39.9900
 Local_Y       400.3885
 dtype: float64, Vehicle_ID    176.0000
 v_Vel          40.2100
 Local_Y       400.1115
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    179.000000
 v_Vel          39.786667
 Local_Y       400.017667
 dtype: float64, Vehicle_ID    180.000000
 v_Vel          39.986667
 Local_Y       400.855333
 dtype: float64, Vehicle_ID    181.000
 v_Vel          44.070
 Local_Y       399.673
 dtype: float64, Vehicle_ID    182.000
 v_Vel          34.990
 Local_Y       401.126
 dtype: float64, Vehicle_ID    183.0000
 v_Vel          44.9900
 Local_Y       400.3495
 dtype: float64, Vehicle_ID    184.000000
 v_Vel          44.173333
 Local_Y       400.278667
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    190.000
 v_Vel          48.265
 Local_Y       399.249
 dtype: float64, Vehicle_ID    191.000
 v_Vel          39.670
 Local_Y       400.468
 dtype: float64, Vehicle_ID    192.000000
 v_Vel          33.506667
 Local_Y       400.177333
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    194.000
 v_Vel          39.990
 Local_Y       400.151
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    196.000
 v_Vel          44.410
 Local_Y       400.752
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    198.0000
 v_Vel          45.6350
 Local_Y       399.6125
 dtype: float64, Vehicle_ID    199.0000
 v_Vel          39.9900
 Local_Y       400.0985
 dtype: float64, Vehicle_ID    200.000000
 v_Vel          44.010000
 Local_Y       399.456667
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    203.000
 v_Vel          46.720
 Local_Y       398.799
 dtype: float64, Vehicle_ID    204.000
 v_Vel          45.770
 Local_Y       399.031
 dtype: float64, Vehicle_ID    205.000
 v_Vel          42.690
 Local_Y       399.346
 dtype: float64, Vehicle_ID    206.0000
 v_Vel          39.5600
 Local_Y       399.1475
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    212.000000
 v_Vel          45.003333
 Local_Y       399.987333
 dtype: float64, Vehicle_ID    213.0000
 v_Vel          39.9750
 Local_Y       399.1095
 dtype: float64, Vehicle_ID    214.0000
 v_Vel          44.9900
 Local_Y       401.1195
 dtype: float64, Vehicle_ID    215.0000
 v_Vel          44.1200
 Local_Y       401.3975
 dtype: float64, Vehicle_ID    216.00
 v_Vel          39.98
 Local_Y       400.11
 dtype: float64, Vehicle_ID    217.000000
 v_Vel          39.870000
 Local_Y       400.067333
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    219.000000
 v_Vel          41.623333
 Local_Y       400.567333
 dtype: float64, Vehicle_ID    220.0000
 v_Vel          41.8850
 Local_Y       399.4845
 dtype: float64, Vehicle_ID    221.0000
 v_Vel          40.0700
 Local_Y       399.1015
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    223.000
 v_Vel          42.275
 Local_Y       399.264
 dtype: float64, Vehicle_ID    224.0000
 v_Vel          47.0300
 Local_Y       400.6445
 dtype: float64, Vehicle_ID    225.0000
 v_Vel          44.2850
 Local_Y       400.4015
 dtype: float64, Vehicle_ID    226.000000
 v_Vel          38.613333
 Local_Y       399.339667
 dtype: float64, Vehicle_ID    227.0000
 v_Vel          48.7100
 Local_Y       400.0065
 dtype: float64, Vehicle_ID    228.0000
 v_Vel          52.3100
 Local_Y       400.2395
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    230.0000
 v_Vel          51.2550
 Local_Y       400.9765
 dtype: float64, Vehicle_ID    231.000000
 v_Vel          40.526667
 Local_Y       399.283333
 dtype: float64, Vehicle_ID    232.0000
 v_Vel          40.6150
 Local_Y       400.2775
 dtype: float64, Vehicle_ID    233.0000
 v_Vel          42.4250
 Local_Y       399.8955
 dtype: float64, Vehicle_ID    234.000
 v_Vel          46.950
 Local_Y       399.392
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    237.0000
 v_Vel          39.9900
 Local_Y       400.1345
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    239.00
 v_Vel          39.99
 Local_Y       400.14
 dtype: float64, Vehicle_ID    240.000000
 v_Vel          39.990000
 Local_Y       400.078333
 dtype: float64, Vehicle_ID    241.000000
 v_Vel          41.753333
 Local_Y       400.703333
 dtype: float64, Vehicle_ID    242.0000
 v_Vel          39.9900
 Local_Y       399.8205
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID   NaN
 v_Vel        NaN
 Local_Y      NaN
 dtype: float64, Vehicle_ID    245.0000
 v_Vel          45.0150
 Local_Y       399.1015
 dtype: float64, Vehicle_ID    246.000
 v_Vel          46.895
 Local_Y       398.342

In [49]:
print(s.shape)
len(s['Vehicle_ID'].unique())

(6504, 6)

2018

In [50]:
Speed1=pd.DataFrame(speed, columns = ['Vehicle_ID','v_Vel','Local_Y'], index=None) 
Speed1.dropna(inplace=True)

In [51]:
Speed1.shape

(2018, 3)

In [52]:
Speed1['Hmean']=1/Speed1['v_Vel']

In [53]:
Speed1.head()

   Vehicle_ID   v_Vel     Local_Y     Hmean
1         2.0  45.640  400.104500  0.021911
4         5.0  39.280  399.846000  0.025458
7         8.0  40.550  399.536667  0.024661
8         9.0  44.990  398.364500  0.022227
9        10.0  47.955  399.872500  0.020853

In [54]:
print("Time Mean Speed:")
Speed1['v_Vel'].mean(axis=0)

Time Mean Speed:

35.39018590296723

In [55]:
print("Space Mean Speed:")
Speed1['Hmean'].count()/Speed1['Hmean'].sum()

Space Mean Speed:

31.01652186583745

In [58]:
from pandas import ExcelWriter
from pandas import ExcelFile

In [59]:
D1.columns

Index(['Vehicle_ID', 'Global_Time', 'Local_X', 'Local_Y', 'v_Vel', 'Location'], dtype='object')

In [60]:
Super_Final=[]
for i in range(1,91):
    T_Any_Min=D1.loc[(D1['Global_Time'] <= i*60/2)&(D1['Global_Time'] >= (i-1)*60/2)]
    OO=T_Any_Min.loc[(T_Any_Min['Local_Y'] >= mini)& (T_Any_Min['Local_Y']  <= maxi)&(T_Any_Min['Global_Time'] == i*60/2)]
    den=OO['Vehicle_ID'].count()    
    k=len(T_Any_Min['Vehicle_ID'].loc[(T_Any_Min['Local_Y']<=maxi)& (T_Any_Min['Local_Y']>=inp)].unique())
    s_1=T_Any_Min.loc[(T_Any_Min['Local_Y'] > (inp-5))& (T_Any_Min['Local_Y']<=(inp+5))]
    if (len(s_1)==0):
        continue
    speed_1=[]
    for q in range(s_1['Vehicle_ID'].min(),s_1['Vehicle_ID'].max()+1):
        p=s_1[['Vehicle_ID','v_Vel','Local_Y']][T_Any_Min['Vehicle_ID'] == q].mean(axis=0)
        speed_1.append(p)
    Speed_final_1=pd.DataFrame(speed_1, columns = ['Vehicle_ID','v_Vel','Local_Y'], index=None) 
    Speed_final_1.dropna(inplace=True)
    Speed_final_1['Hmean']=1/Speed_final_1['v_Vel']
    final=[Speed_final_1['v_Vel'].mean(axis=0),Speed_final_1['Hmean'].count()/Speed_final_1['Hmean'].sum(),den*1000/(maxi-mini),k*60/0.5,OO['v_Vel'].mean()]
    Super_Final.append(final)
Yo1=pd.DataFrame(Super_Final, columns = ['Time Mean Speed','Space Mean Speed','Density','Flow','Speed accor. Density'])

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

In [73]:
Super_Final=[]
for i in range(1,69):
    T_Any_Min=D2.loc[(D2['Global_Time'] <= i*60/2)&(D2['Global_Time'] >= (i-1)*60/2)]
    OO=T_Any_Min.loc[(T_Any_Min['Local_Y'] >= mini)& (T_Any_Min['Local_Y']  <= maxi)&(T_Any_Min['Global_Time'] == i*60/2)]
    den=OO['Vehicle_ID'].count()
    print(i)
    k=len(T_Any_Min['Vehicle_ID'].loc[(T_Any_Min['Local_Y']<=maxi)& (T_Any_Min['Local_Y']>=inp)].unique())
    s_1=T_Any_Min.loc[(T_Any_Min['Local_Y'] > (inp-5))& (T_Any_Min['Local_Y']<=(inp+5))]
    if (len(s_1)==0):
        continue
    speed_1=[]
    for q in range(s_1['Vehicle_ID'].min(),s_1['Vehicle_ID'].max()+1):
        p=s_1[['Vehicle_ID','v_Vel','Local_Y']][T_Any_Min['Vehicle_ID'] == q].mean(axis=0)
        speed_1.append(p)
    Speed_final_1=pd.DataFrame(speed_1, columns = ['Vehicle_ID','v_Vel','Local_Y'], index=None) 
    Speed_final_1.dropna(inplace=True)
    Speed_final_1['Hmean']=1/Speed_final_1['v_Vel']
    final=[Speed_final_1['v_Vel'].mean(axis=0),Speed_final_1['Hmean'].count()/Speed_final_1['Hmean'].sum(),den*1000/(maxi-mini),k*60/0.5,OO['v_Vel'].mean()]
    Super_Final.append(final)
Yo2=pd.DataFrame(Super_Final, columns = ['Time Mean Speed','Space Mean Speed','Density','Flow','Speed accor. Density'])

1
2
3

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68

In [74]:
Super_Final=[]
for i in range(1,35):
    T_Any_Min=D3.loc[(D3['Global_Time'] <= i*60/2)&(D3['Global_Time'] >= (i-1)*60/2)]
    OO=T_Any_Min.loc[(T_Any_Min['Local_Y'] >= mini)& (T_Any_Min['Local_Y']  <= maxi)&(T_Any_Min['Global_Time'] == i*60/2)]
    den=OO['Vehicle_ID'].count()
    print(i)
    k=len(T_Any_Min['Vehicle_ID'].loc[(T_Any_Min['Local_Y']<=maxi)& (T_Any_Min['Local_Y']>=inp)].unique())
    s_1=T_Any_Min.loc[(T_Any_Min['Local_Y'] > (inp-5))& (T_Any_Min['Local_Y']<=(inp+5))]
    if (len(s_1)==0):
        continue
    speed_1=[]
    for q in range(s_1['Vehicle_ID'].min(),s_1['Vehicle_ID'].max()+1):
        p=s_1[['Vehicle_ID','v_Vel','Local_Y']][T_Any_Min['Vehicle_ID'] == q].mean(axis=0)
        speed_1.append(p)
    Speed_final_1=pd.DataFrame(speed_1, columns = ['Vehicle_ID','v_Vel','Local_Y'], index=None) 
    Speed_final_1.dropna(inplace=True)
    Speed_final_1['Hmean']=1/Speed_final_1['v_Vel']
    final=[Speed_final_1['v_Vel'].mean(axis=0),Speed_final_1['Hmean'].count()/Speed_final_1['Hmean'].sum(),den*1000/(maxi-mini),k*60/0.5,OO['v_Vel'].mean()]
    Super_Final.append(final)
Yo3=pd.DataFrame(Super_Final, columns = ['Time Mean Speed','Space Mean Speed','Density','Flow','Speed accor. Density'])

1
2

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

In [75]:
Super_Final=[]
for i in range(1,181):
    T_Any_Min=D4.loc[(D4['Global_Time'] <= i*60/2)&(D4['Global_Time'] >= (i-1)*60/2)]
    OO=T_Any_Min.loc[(T_Any_Min['Local_Y'] >= mini)& (T_Any_Min['Local_Y']  <= maxi)&(T_Any_Min['Global_Time'] == i*60/2)]
    den=OO['Vehicle_ID'].count()
    print(i)
    k=len(T_Any_Min['Vehicle_ID'].loc[(T_Any_Min['Local_Y']<=maxi)& (T_Any_Min['Local_Y']>=inp)].unique())
    s_1=T_Any_Min.loc[(T_Any_Min['Local_Y'] > (inp-5))& (T_Any_Min['Local_Y']<=(inp+5))]
    if (len(s_1)==0):
        continue
    speed_1=[]
    for q in range(s_1['Vehicle_ID'].min(),s_1['Vehicle_ID'].max()+1):
        p=s_1[['Vehicle_ID','v_Vel','Local_Y']][T_Any_Min['Vehicle_ID'] == q].mean(axis=0)
        speed_1.append(p)
    Speed_final_1=pd.DataFrame(speed_1, columns = ['Vehicle_ID','v_Vel','Local_Y'], index=None) 
    Speed_final_1.dropna(inplace=True)
    Speed_final_1['Hmean']=1/Speed_final_1['v_Vel']
    final=[Speed_final_1['v_Vel'].mean(axis=0),Speed_final_1['Hmean'].count()/Speed_final_1['Hmean'].sum(),den*1000/(maxi-mini),k*60/0.5,OO['v_Vel'].mean()]
    Super_Final.append(final)
Yo4=pd.DataFrame(Super_Final, columns = ['Time Mean Speed','Space Mean Speed','Density','Flow','Speed accor. Density'])

1
2

C:\Users\UYN1KOR\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180

In [76]:
writer= ExcelWriter('NGSIM1.xlsx')
Yo1.to_excel(writer, sheet_name='US-101')
Yo2.to_excel(writer, sheet_name='lankershim')
Yo3.to_excel(writer, sheet_name='peachtree')
Yo4.to_excel(writer, sheet_name='i-80')
writer.save()

In [88]:
T_Any_Min=D4.loc[(D4['Global_Time'] == 5449)]
T_Any_Min

          Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel Location
11642723        2274       5449.0   18.994  1626.026   7.11     i-80
11646839        2280       5449.0   43.162  1617.883  11.77     i-80
11651579        2285       5449.0   17.409  1596.349  10.32     i-80
11653566        2286       5449.0   42.591  1573.300   8.51     i-80
11658880        2292       5449.0   42.930  1512.863  14.74     i-80
11662561        2297       5449.0   42.954  1468.129   9.25     i-80
11667930        2303       5449.0   18.703  1549.683  16.27     i-80
11669819        2304       5449.0   31.770  1611.196  22.39     i-80
11671182        2305       5449.0   53.491  1627.327  12.99     i-80
11677277        2314       5449.0   53.434  1587.684  15.77     i-80
11679325        2318       5449.0   16.583  1489.846  21.41     i-80
11681157        2319       5449.0   31.762  1637.827  19.79     i-80
11682948        2320       5449.0   44.326  1428.558   5.34     i-80
11684191        2321       5449.0   52.108  1544.143   8.86     i-80
11687619        2325       5449.0   18.282  1453.451  19.97     i-80
11689406        2328       5449.0   53.858  1516.147  21.39     i-80
11692904        2332       5449.0   31.264  1530.246  24.61     i-80
11694177        2333       5449.0   53.806  1465.501  13.39     i-80
11697464        2340       5449.0   17.657  1266.224  29.84     i-80
11700175        2343       5449.0   52.972  1397.615   4.96     i-80
11702370        2347       5449.0   55.521  1380.126   4.96     i-80
11704827        2349       5449.0   52.696  1345.389   7.46     i-80
11706968        2351       5449.0   29.811  1367.227  16.62     i-80
11708621        2355       5449.0   54.745  1306.890   7.50     i-80
11712236        2358       5449.0   44.411  1402.113   4.13     i-80
11714064        2360       5449.0   43.543  1377.054   5.34     i-80
11716767        2362       5449.0   41.978  1336.721  12.86     i-80
11720247        2366       5449.0   17.186  1370.622  26.51     i-80
11722524        2369       5449.0   18.323  1321.097  27.86     i-80
11724238        2370       5449.0   43.737  1301.939   8.21     i-80
...              ...          ...      ...       ...    ...      ...
11797438        2449       5449.0    3.088   815.552  43.36     i-80
11798589        2452       5449.0   40.957   852.195  20.84     i-80
11799708        2454       5449.0    6.726   686.268  50.11     i-80
11801152        2455       5449.0   29.201   876.424  20.07     i-80
11802992        2456       5449.0   61.189   830.877  20.00     i-80
11805230        2457       5449.0   16.484   840.295  20.91     i-80
11806651        2458       5449.0   47.800   820.472  20.03     i-80
11808518        2459       5449.0   67.680   791.344  19.62     i-80
11809398        2460       5449.0   53.358   774.273  17.00     i-80
11810991        2462       5449.0    6.476   578.946  45.51     i-80
11812062        2463       5449.0   69.536   756.272  17.49     i-80
11813553        2464       5449.0   27.396   824.602  20.00     i-80
11815436        2466       5449.0   15.504   802.663  15.05     i-80
11817174        2467       5449.0   40.001   781.205  21.50     i-80
11818931        2468       5449.0   50.909   720.804  11.53     i-80
11820104        2469       5449.0    4.457   497.523  42.84     i-80
11821053        2470       5449.0   69.488   684.725   9.98     i-80
11821496        2472       5449.0    3.952   429.259  38.80     i-80
11822480        2475       5449.0   67.665   649.333  10.00     i-80
11823694        2477       5449.0    3.877   368.898  35.32     i-80
11824836        2478       5449.0   16.785   759.143   8.34     i-80
11826825        2479       5449.0   27.841   767.682  14.95     i-80
11828616        2480       5449.0   61.042   712.464   9.89     i-80
11830844        2483       5449.0   30.201   725.311  12.26     i-80
11833124        2484       5449.0   41.482   703.177  19.83     i-80
11834900        2485       5449.0   54.600   673.985   8.95     i-80
11837194        2486       5449.0   16.415   724.419   0.00     i-80
11838203        2487       5449.0    3.040   320.929  38.32     i-80
11839244        2488       5449.0   76.890   624.794   9.03     i-80
11850511        3011       5449.0   64.001  1591.137  35.82     i-80

[109 rows x 6 columns]

In [87]:
D4

          Vehicle_ID  Global_Time  Local_X   Local_Y  v_Vel Location
6330931            1          0.8   16.884    48.213  12.50     i-80
6330932            1          0.9   16.938    49.463  12.50     i-80
6330933            1          1.0   16.991    50.712  12.50     i-80
6330934            1          1.1   17.045    51.963  12.50     i-80
6330935            1          1.2   17.098    53.213  12.50     i-80
6330936            1          1.3   17.151    54.463  12.49     i-80
6330937            1          1.4   17.204    55.712  12.48     i-80
6330938            1          1.5   17.257    56.956  12.52     i-80
6330939            1          1.6   17.330    58.199  12.67     i-80
6330940            1          1.7   17.289    59.463  13.00     i-80
6330941            1          1.8   17.197    60.776  13.49     i-80
6330942            1          1.9   17.027    62.157  13.98     i-80
6330943            1          2.0   16.863    63.592  14.36     i-80
6330944            1          2.1   16.752    65.054  14.58     i-80
6330945            1          2.2   16.731    66.526  14.64     i-80
6330946            1          2.3   16.682    67.993  14.62     i-80
6330947            1          2.4   16.632    69.455  14.59     i-80
6330948            1          2.5   16.583    70.913  14.52     i-80
6330949            1          2.6   16.528    72.367  14.38     i-80
6330950            1          2.7   16.478    73.809  14.13     i-80
6330951            1          2.8   16.453    75.210  13.75     i-80
6330952            1          2.9   16.462    76.559  13.37     i-80
6330953            1          3.0   16.495    77.867  13.11     i-80
6330954            1          3.1   16.534    79.159  13.00     i-80
6330955            1          3.2   16.567    80.454  12.98     i-80
6330956            1          3.3   16.601    81.754  13.00     i-80
6330957            1          3.4   16.634    83.054  13.00     i-80
6330958            1          3.5   16.667    84.354  13.00     i-80
6330959            1          3.6   16.701    85.654  13.00     i-80
6330960            1          3.7   16.734    86.954  13.00     i-80
...              ...          ...      ...       ...    ...      ...
11850496        3011       5447.5   64.250  1535.344  37.29     i-80
11850497        3011       5447.6   64.196  1539.167  38.03     i-80
11850498        3011       5447.7   64.161  1543.030  38.25     i-80
11850499        3011       5447.8   64.138  1546.869  38.12     i-80
11850500        3011       5447.9   64.109  1550.659  37.89     i-80
11850501        3011       5448.0   64.080  1554.427  37.79     i-80
11850502        3011       5448.1   64.051  1558.206  37.80     i-80
11850503        3011       5448.2   64.021  1561.986  37.82     i-80
11850504        3011       5448.3   63.992  1565.775  37.79     i-80
11850505        3011       5448.4   63.960  1569.568  37.58     i-80
11850506        3011       5448.5   63.931  1573.332  37.10     i-80
11850507        3011       5448.6   63.917  1577.023  36.38     i-80
11850508        3011       5448.7   63.925  1580.610  35.66     i-80
11850509        3011       5448.8   63.949  1584.109  35.26     i-80
11850510        3011       5448.9   63.976  1587.588  35.39     i-80
11850511        3011       5449.0   64.001  1591.137  35.82     i-80
11850512        3011       5449.1   64.025  1594.787  35.97     i-80
11850513        3011       5449.2   64.050  1598.444  35.34     i-80
11850514        3011       5449.3   64.051  1601.880  33.79     i-80
11850515        3011       5449.4   64.071  1605.148  31.67     i-80
11850516        3011       5449.5   64.095  1608.233  29.77     i-80
11850517        3011       5449.6   64.137  1611.093  28.97     i-80
11850518        3011       5449.7   64.172  1613.920  29.64     i-80
11850519        3011       5449.8   64.202  1617.005  31.60     i-80
11850520        3011       5449.9   64.225  1620.302  34.28     i-80
11850521        3011       5450.0   64.238  1623.826  36.54     i-80
11850522        3011       5450.1   64.249  1627.561  37.76     i-80
11850523        3011       5450.2   64.277  1631.602  37.76     i-80
11850524        3011       5450.3   64.301  1635.103  37.76     i-80
11850525        3011       5450.4   64.329  1639.103  37.76     i-80

[4566387 rows x 6 columns]

In [ ]:
Super_Final=[]
for i in range(1,61):
    if (i<31):
        T_Any_Min=df.loc[(df['Time (sec)'] <= i*60/2)&(df['Time (sec)'] >= (i-1)*60/2)]
        OO=T_Any_Min.loc[(T_Any_Min['Long Distance (m)'] >= mini)& (T_Any_Min['Long Distance (m)'] <= maxi)&(T_Any_Min['Time (sec)'] == i*60/2)]
        den=OO['Vehicle Number'].count()
    else:
        T_Any_Min=df1.loc[(df1['Time (sec)'] <= (i-30)*60/2)&(df1['Time (sec)'] >= (i-31)*60/2)]
        OO=T_Any_Min.loc[(T_Any_Min['Long Distance (m)'] >= mini)& (T_Any_Min['Long Distance (m)'] <= maxi)&(T_Any_Min['Time (sec)'] == (i-30)*60/2)]
        den=OO['Vehicle Number'].count()
        
    print(i)    
    k=len(T_Any_Min['Vehicle Number'].loc[(T_Any_Min['Long Distance (m)']<=maxi)& (T_Any_Min['Long Distance (m)']>=inp)].unique())
    s_1=T_Any_Min.loc[(T_Any_Min['Long Distance (m)'] > (inp-5))& (T_Any_Min['Long Distance (m)']<=(inp+5))]
    speed_1=[]
    for q in range(s_1['Vehicle Number'].min(),s_1['Vehicle Number'].max()+1):
        p=s_1[['Vehicle Number','Long Speed (m/sec)','Long Distance (m)']][T_Any_Min['Vehicle Number'] == q].mean(axis=0)
        speed_1.append(p)
    Speed_final_1=pd.DataFrame(speed_1, columns = ['Vehicle Number','Long Speed (m/sec)','Long Distance (m)'], index=None) 
    Speed_final_1.dropna(inplace=True)
    Speed_final_1['Hmean']=1/Speed_final_1['Long Speed (m/sec)']
    final=[Speed_final_1['Long Speed (m/sec)'].mean(axis=0),Speed_final_1['Hmean'].count()/Speed_final_1['Hmean'].sum(),den*1000/(maxi-mini),k*60/0.5,OO['Long Speed (m/sec)'].mean()]
    Super_Final.append(final)

In [ ]:
print("Enter the instant at which the information is required(1<=limit<=30):")
while(True):
    time= int(input())
    if ((time>31) or (time<1)):
        print("Enter proper value (1<=limit<=31)")
        continue
    elif((time<=15)):
        T_any_min=df.loc[df['Time (sec)'] <= time*60]
        break
    else:
        T_any_min=df1.loc[df1['Time (sec)'] <= (time-15)*60]
        break